<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('产品列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>弹性IP：</label>
                            <input type="text" name="elasticip"/>
                        </li>
                        <li>
                            <label>备注：</label>
                            <input type="text" name="note"/>
                        </li>
                        <li>
                            <label>带宽：</label>
                            <input type="text" name="bandwidth"/>
                        </li>
                        <li>
                            <label>地区：</label>
                            <input type="text" name="region"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="status" th:with="type=${@dict.getType('zym_cp_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>项目类别：</label>
                            <select name="category">
                                <option value="">所有</option>
                                <option th:each="Classification : ${ClassificationList}" th:text="${Classification.name}" th:value="${Classification.name}"></option>
                            </select>
                        </li>
                        <li>
                            <label>账号：</label>
                            <input type="text" name="username"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" shiro:hasPermission="product:manager:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="p_edit()" shiro:hasPermission="product:manager:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="detach()" shiro:hasPermission="product:manager:remove">
                <i class="fa fa-remove"></i> 移除
            </a>
            <a class="btn btn-warning" onclick="exportExcel()" shiro:hasPermission="product:manager:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-success multiple disabled" onclick="oneswitch()" shiro:hasPermission="product:manager:edit">
                <i class="fa fa-refresh"></i> 一键切换
            </a>
            <a class="btn btn-primary multiple disabled" onclick="addtime1()" shiro:hasPermission="product:manager:edit">
                <i class="fa fa-plus"></i> 增加1个月
            </a>
            <a class="btn btn-warning multiple disabled" onclick="addtime2()" shiro:hasPermission="product:manager:edit">
                <i class="fa fa-plus"></i> 增加2个月
            </a>
            <a class="btn btn-success multiple disabled" onclick="addtime3()" shiro:hasPermission="product:manager:edit">
                <i class="fa fa-plus"></i> 增加3个月
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('product:manager:edit')}]];
    var removeFlag = [[${@permission.hasPermi('product:manager:remove')}]];
    var statusDatas = [[${@dict.getType('zym_cp_status')}]];
    var prefix = ctx + "product/manager";

    $(function() {
        var options = {
            url: prefix + "/list/" + [[${userid}]],
            //createUrl: prefix + "/add",
            updateUrl: prefix + "/p_edit/{id}",
            //removeUrl: prefix + "/detach/" + [[${userid}]],
            exportUrl: prefix + "/p_export",
            modalName: "产品列表",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '商品id',
                    visible: false
                },
                {
                    field: 'elasticip',
                    title: '弹性IP'
                },
                {
                    field: 'note',
                    title: '备注'
                },
                {
                    field: 'bandwidth',
                    title: '带宽'
                },
                {
                    field: 'region',
                    title: '地区'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'category',
                    title: '项目类别'
                },
                {
                    field: 'username',
                    title: '账号/密码'
                },
                {
                    field: 'starttime',
                    title: '开始时间',
                },
                {
                    field: 'endtime',
                    title: '到期时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="p_edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    // 批量删除信息
    function detach() {
        var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认要移除选中的" + rows.length + "条数据吗?", function() {
            var url = prefix + "/detach/";
            var data = { "ids": rows.join() };
            $.operate.submit(url, "get", "json", data);
        });
    }

    function add(){
        var options = {
            title: '选择产品',
            url: prefix + "/parent",
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero){
        var rows = layero.find("iframe")[0].contentWindow.getSelections();
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        var url = prefix + "/adduserid";
        var data = { "ids": rows.join(),"uid":[[${userid}]] };
        $.operate.submit(url, "post", "json", data);
        $.modal.close(index);
    }

    function oneswitch(){
        var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        var options = {
            title: '一键切换',
            url: prefix + "/oneswitch?ids="+rows.join(),
            callBack: doSubmit_oneswitch
        };
        $.modal.openOptions(options);
    }

    function doSubmit_oneswitch(index, layero){
        var body = $.modal.getChildFrame(index);
        let region = body.find('#region').val();
        let ids = body.find('#idlist').val();
        var url = prefix + "/oneswitch";
        var data = { "ids": ids,"region":region };
        $.operate.submit(url, "post", "json", data);
        $.modal.close(index);
    }

    function p_edit(id) {
        table.set();
        if($.common.isEmpty(id) && table.options.type == table_type.bootstrapTreeTable) {
            var row = $("#" + table.options.id).bootstrapTreeTable('getSelections')[0];
            if ($.common.isEmpty(row)) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            var url = table.options.updateUrl.replace("{id}", row[table.options.uniqueId]);
            $.modal.open("修改" + table.options.modalName, url);
        } else {
            $.modal.open("修改" + table.options.modalName, $.operate.editUrl(id));
        }
    }

    function exportExcel(formId){
        table.set();
        $.modal.confirm("确定导出所有" + table.options.modalName + "吗？", function() {
            var currentId = $.common.isEmpty(formId) ? $('form').attr('id') : formId;
            var params = $("#" + table.options.id).bootstrapTable('getOptions');
            var dataParam = $("#" + currentId).serializeArray();
            dataParam.push({ "name": "orderByColumn", "value": params.sortName });
            dataParam.push({ "name": "isAsc", "value": params.sortOrder });
            dataParam.push({ "name": "uid", "value": [[${userid}]] });
            $.modal.loading("正在导出数据，请稍候...");
            $.post(table.options.exportUrl, dataParam, function(result) {
                if (result.code == web_status.SUCCESS) {
                    window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                } else if (result.code == web_status.WARNING) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            });
        });
    }

    function addtime1(){
        var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        let url = prefix + "/addtime?ids="+rows.join()+"&time=1";
        $.operate.submit(url, "get");
    }
    function addtime2(){
        var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        let url = prefix + "/addtime?ids="+rows.join()+"&time=2";
        $.operate.submit(url, "get");
    }
    function addtime3(){
        var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        let url = prefix + "/addtime?ids="+rows.join()+"&time=3";
        $.operate.submit(url, "get");
    }
</script>
</body>
</html>