<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('一键设置账号密码')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <form id="form-user-add" class="form-horizontal" style="margin-top: 20px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">账号：</label>
                        <div class="col-sm-4">
                            <input type="hidden" id="idlist">
                            <input id="username" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">密码：</label>
                        <div class="col-sm-4">
                            <input id="password" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    /* 提交 */
    function submitHandler() {
        var username = $("#username").val();
        var password = $("#password").val();
        var idlist = $("#ids").val();
        activeWindow().$('#userpwdvalue').val(username+"/"+password);
        activeWindow().$('#productids').val(idlist);
        $.modal.close();
    }

    $("#idlist").val(getUrlParam('ids'));

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return encodeURI(r[2]); return null; //返回参数值
    }
</script>
</body>
</html>