<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('产品列表')" />
</head>
<body class="gray-bg">
     <input type="hidden" id="rowIds">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								<label>弹性IP：</label>
								<input type="text" name="elasticip"/>
							</li>
							<li>
								<label>备注：</label>
								<input type="text" name="note"/>
							</li>
							<li>
								<label>带宽：</label>
								<input type="text" name="bandwidth"/>
							</li>
							<li>
								<label>地区：</label>
								<input type="text" name="region"/>
							</li>
							<li>
								<label>状态：</label>
								<select name="status" th:with="type=${@dict.getType('zym_cp_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<label>项目类别：</label>
								<input type="text" name="category"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "product/manager";
		var statusDatas = [[${@dict.getType('zym_cp_status')}]];

        $(function() {
            var options = {
                url: prefix + "/nolist",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
                columns: [{
		            checkbox: true
		        },
				{
					field: 'id',
					title: '商品id',
					visible: false
				},
				{
					field: 'elasticip',
					title: '弹性IP'
				},
				{
					field: 'note',
					title: '备注'
				},
				{
					field: 'bandwidth',
					title: '带宽'
				},
				{
					field: 'region',
					title: '地区'
				},
				{
					field: 'status',
					title: '状态',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(statusDatas, value);
					}
				},
				{
					field: 'category',
					title: '项目类别'
				},
				{
					field: 'username',
					title: '账号',
					visible: false
				},
				{
					field: 'starttime',
					title: '开始时间',
				},
				{
					field: 'endtime',
					title: '到期时间'
				}]
            };
            $.table.init(options);
        });
        
        /* 添加用户-选择用户-提交(子页面调用父页面形式) */
		function submitHandler(index, layero) {
			var rows = $.table.selectFirstColumns();
			if (rows.length == 0) {
       			$.modal.alertWarning("请至少选择一条记录");
       			return;
       		}
			$.modal.close();
			// 父页面的方法
			// activeWindow().selectUsers();
			// 父页面的变量
			activeWindow().$('#userids').html('我是通过方式一来的：' + rows.join());
		}
        
		/* 添加用户-选择用户-提交(回调形式-父页面调用子页面) */
		function getSelections() {
			return $.table.selectFirstColumns();
		}

		$("#bootstrap-table").on("check.bs.table check-all.bs.table uncheck.bs.table uncheck-all.bs.table", function (e, rowsAfter, rowsBefore) {
            var rows = $.common.equals("uncheck-all", e.type) ? rowsBefore : rowsAfter;
            var rowIds = $.table.affectedRowIds(rows);
            $("#rowIds").val(rowIds);
        });
    </script>
</body>
</html>